

body {
  padding-top: 50px;
  cursor: default;
  height: 100%;
  background: whitesmoke;
}

footer {
  margin: 0 0 0 0;
  padding: 20px 0 20px 0;
  background: whitesmoke;
  text-align: center;
  /*z-index: 20000;*/
  border-top: 1px solid #D4D4D4;
  position:relative;
}

.main-page-content {
  /*margin-bottom: 30px;*/
  padding-bottom: 100px;
  background-color: #fff;
}

/*====== Start Loading Spinner ====*/

.loading-image {
  background-image: url('../../resources/img/preloader.gif');
  width:128px;
  height:128px;
  position:fixed;
  top:50%;
  left:50%;
  margin-top:-64px;
  margin-left:-64px;
  z-index: 10000;
}

.loading-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/*====== End Loading Spinner ====*/



/*====== start slick grid ===========*/
.slick-sort-indicator {
  margin-top: 0px;
  float: none;
}

.slick-sort-indicator-desc {
  background: url(../../resources/img/sort_desc.png) no-repeat center center;
  height: 8px;
  width: 9px;
}

.slick-sort-indicator-asc {
  background: url(../../resources/img/sort_asc.png) no-repeat center center;
  height: 8px;
  width: 9px;
}

.slick-viewport{
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.slick-row {
  border: 1px solid #eee !important;
}

.slick-row:hover {
  /*background: lightblue !important;*/
}

.slick-row.odd {
  background: whitesmoke;
}

.slick-row .selected {
  background-color: #eee;
  font-weight: bold;
}

.slick-row .selected.modified {
  background-color: lightyellow;
  border-color: #eee;
}

.slick-row .selected.error {
  background-color: lightpink;
  border-color: #e7f4f9;
}

.slick-header-columns, .slick-header-column {
  background: whitesmoke;
  color: #000 !important;
  font-weight: bold;
  text-align: center;
}

.slick-headerrow-column {
  background: none repeat scroll 0 0 #E7F4F9;
  border-bottom: 0 none;
  height: 100%;
  text-overflow: clip;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100000;
}

.slick-headerrow-column input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.slick-cell-checkboxsel {
  background: #f0f0f0;
  border-right-color: silver;
  border-right-style: solid;
}

/* Override float and margin to properly display sorting arrow in firefox*/
.slick-sort-indicator {
  margin-top: 0px;
  float: none;
}


.toggle {
  height: 9px;
  width: 9px;
  display: inline-block;
}

.toggle.expand {
  background: url(../../resources/img/expand.gif) no-repeat center center;
}

.toggle.collapse {
  background: url(../../resources/img/collapse.gif) no-repeat center center;
}

.nodeText {
    font-family:monospace;font-size:115%;
}

/*====== end slick grid ===========*/

.slick-header-columns {
    display: none;
}

.treeMoveButton {
    margin-top: 5px;
    display: block;
    width: 45px;
}

.buttonIcon {
    position: relative;
    font-size: 20px;
    top: 3px;
}

.rightButtonIcon {
    margin-left: 10px;
}

.leftButtonIcon {
    margin-right: 10px;
}

.topTreeControlButton {
    margin-bottom: 5px;
}

.bottomTreeControlButton {
    margin-top: 5px;
}

.treeSize {
    margin-right: 15px;
}

.btn-file {
    position: relative;
    display: inline-block;
    padding: 10px 0 0 0;
    height: 22px;
    line-height: 0.9em;
    width: 112px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.loadUicFileDiv {
    width:141px;
    margin-left: auto;
    margin-right: auto;
}

.browseDiv {
    padding-top: 10px;
     width:141px;
    margin-left: auto;
    margin-right: auto;

}

.nav-header {
    clear: both;
}

.warning {
    color: white;
    background-color: #bf1e24;
    padding: .25em;
    margin-right: 2em;
}

input[type="text"].ng-invalid-minlength, input[type="text"].ng-invalid-maxlength{
    color: red;
}

.row-hover tr:hover td {
    background-color:#F5F5F5 !important;
    cursor: pointer;
}

.row-hover tr a{
  visibility:hidden;
}

.row-hover tr:hover a {
 visibility:visible;
}