<!-- Based on http://weblogs.asp.net/dwahlin/building-an-angularjs-modal-service -->

<link type="text/css" rel="stylesheet" href="app/css/modalPopup.css"/>

<form name="frmDeleteForceFile"
      role="form"
      class="modalPopup"
      data-ng-controller="ManageForceFileController"
      data-ng-init="init()">
    <div class="modal-header">
        <h4>{{modalOptions.headerText}} &quot;{{modalOptions.forceFileName}}&quot;</h4>
    </div>
    <div class="modal-body">
        <div class="form-group container-fluid flush-left">
            <label>{{modalOptions.messageText}}</label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-link"
                data-ng-click="modalOptions.close()">
            {{modalOptions.closeButtonText}}
        </button>
        <button type="button"
                class="btn btn-primary"
                data-ng-click="modalOptions.ok();"
                data-delete-force-file="{{modalOptions.forceFileId}}">
            {{modalOptions.actionButtonText}}
        </button>
    </div>
</form>